body {
    margin: 0px;
    overflow:hidden;
}
div#container {
    position: absolute;
    padding: 19px;
    top: 20%;
    background-color: rgba(255,255,255,1);
}
#mostrar{
    position: absolute;
    top: 14%;
    margin-left: 10px;
    font-size: 23px;
}
.clear {
    clear: both;
}
.cuadro {
    margin-top: 6px;
}
input, select, #auto {
    float: right;
}
span#auto {
    padding-left: 10px;
}
a:visited {
    color: black;
}

a {
    color: black;
    text-decoration: none;
}
.ocultar {
    display: none;
}